README.md
[
    {
        "id": "broker_mqtt",
        "type": "mqtt-broker",
        "name": "Broker IoT",
        "broker": "54.157.123.32",
        "port": "8080",
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "useTLS": false,
        "clientid": "",
        "autoConnect": true
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "1",
        "name": "Recebe Dados Sensores",
        "topic": "defesa_civil/sensores/todos",
        "qos": "2",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "filtro_regiao"
            ]
        ]
    },
    {
        "id": "filtro_regiao",
        "type": "function",
        "z": "1",
        "name": "Filtrar Região/Sensores (RM 89344)",
        "func": "// Dados específicos para RM 89344 na região de Brasília (Centro-Oeste):\nconst REGIAO = \"centro_oeste\";\nconst COORDENADAS = {lat: -15.7797, lng: -47.9297};\n// Mantendo os sensores da sua última referência para este JSON\nconst SENSORES = [\"inclinometro\", \"sismografo\", \"nivel_rio\", \"pluviometro\", \"acelerometro\"];\n\nlet dados;\ntry {\n    dados = (typeof msg.payload === 'string') ? JSON.parse(msg.payload) : msg.payload;\n} catch(e) {\n    node.error(\"JSON inválido\", msg);\n    return null;\n}\n\n// Verifica se a região existe nos dados recebidos\nlet origem = dados.dados_por_regiao[REGIAO];\nif (!origem) {\n    node.warn(\"Dados para a região '\" + REGIAO + \"' não encontrados no payload.\");\n    return null; // Não processa se a região não for encontrada\n}\n\nlet sensoresFiltrados = {};\nSENSORES.forEach(s => {\n    if(origem.sensores.hasOwnProperty(s)) {\n        sensoresFiltrados[s] = origem.sensores[s];\n    } else {\n        node.warn(\"Sensor '\" + s + \"' não encontrado para a região '\" + REGIAO + \"'.\");\n    }\n});\n\nmsg.filtrado = {\n    regiao: REGIAO,\n    coordenadas: COORDENADAS,\n    estacao_id: dados.estacao_id,\n    timestamp: dados.timestamp,\n    sensores: sensoresFiltrados\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "debug_filtrado",
                "monta_dashboard",
                "gera_alerta"
            ]
        ]
    },
    {
        "id": "debug_filtrado",
        "type": "debug",
        "z": "1",
        "name": "JSON Filtrado (monitor)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filtrado",
        "targetType": "msg",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "monta_dashboard",
        "type": "function",
        "z": "1",
        "name": "Preparar p/ Dashboard",
        "func": "// Formatar timestamp e preparar visual\nlet d = msg.filtrado;\nlet ts = new Date(d.timestamp);\nfunction dois(x){ return (x<10?'0':'')+x; }\nlet timestamp_formatado = dois(ts.getDate())+\"/\"+dois(ts.getMonth()+1)+\"/\"+ts.getFullYear()+\" \"+dois(ts.getHours())+\":\"+dois(ts.getMinutes())+\":\"+dois(ts.getSeconds());\nmsg.dashboard = {\n    regiao: d.regiao,\n    coordenadas: d.coordenadas,\n    estacao_id: d.estacao_id,\n    timestamp: d.timestamp,\n    timestamp_formatado: timestamp_formatado,\n    sensores: d.sensores\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "ui_text_regiao",
                "ui_text_estacao",
                "ui_text_coords",
                "ui_text_timestamp",
                "ui_gauge_inclinometro",
                "ui_gauge_sismografo",
                "ui_gauge_nivelrio",
                "ui_gauge_pluviometro",
                "ui_gauge_acelerometro"
            ]
        ]
    },
    {
        "id": "gera_alerta",
        "type": "function",
        "z": "1",
        "name": "Construir JSON Alerta",
        "func": "// Thresholds e avaliação\nconst thresholds = {\n    nivel_rio: [40, 60, 80],\n    pluviometro: [10, 30, 50],\n    inclinometro: [2, 10, 15],\n    sismografo: [2, 4, 6],\n    acelerometro: [0.2, 0.5, 0.8]\n};\nconst niveis = [\"Normal\", \"Atenção\", \"Alerta\", \"Crítico\"]; // Mapeamento dos índices para nomes de níveis\nlet sens = msg.filtrado.sensores;\nlet sensores_criticos = {};\nlet pior = 0;\n\nfor (let k in sens) {\n    if (sens.hasOwnProperty(k)) { // Garante que é uma propriedade do objeto\n        let v = sens[k];\n        let lim = thresholds[k];\n        let idx = 0;\n\n        if (lim) { // Garante que existem thresholds para o sensor\n            // Lógica para sensores onde o risco aumenta com o valor\n            if (v > lim[2]) {\n                idx = 3; // Crítico\n            } else if (v > lim[1]) {\n                idx = 2; // Alerta\n            } else if (v > lim[0]) {\n                idx = 1; // Atenção\n            }\n        } else {\n            node.warn(\"Thresholds não definidos para o sensor: \" + k);\n        }\n\n        if (idx > 0) {\n            sensores_criticos[k] = v;\n            // Adiciona o nível de risco textual ao sensor crítico\n            sensores_criticos[k + \"_nivel\"] = niveis[idx]; \n        }\n        if (idx > pior) pior = idx;\n    }\n}\n\nmsg.payload = {\n    aluno_rm: \"89344\", // RM do aluno\n    regiao: msg.filtrado.regiao,\n    coordenadas: msg.filtrado.coordenadas,\n    timestamp: new Date().toISOString(),\n    sensores_criticos: sensores_criticos,\n    nivel_alerta_geral: niveis[pior]\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "mqtt_out",
                "ui_text_nivel"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "1",
        "name": "Publicar JSON Alerta (RM 89344)",
        "topic": "defesa_civil/alertas/89344",
        "qos": "2",
        "retain": "false",
        "datatype": "auto",
        "broker": "broker_mqtt",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_text_regiao",
        "type": "ui_text",
        "z": "1",
        "group": "ui_group_sensores_89344",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Região",
        "label": "Região:",
        "format": "{{msg.dashboard.regiao}}",
        "layout": "row-spread",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_text_estacao",
        "type": "ui_text",
        "z": "1",
        "group": "ui_group_sensores_89344",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "Estação ID",
        "label": "Estação:",
        "format": "{{msg.dashboard.estacao_id}}",
        "layout": "row-spread",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_text_coords",
        "type": "ui_text",
        "z": "1",
        "group": "ui_group_sensores_89344",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "Coordenadas",
        "label": "Coordenadas:",
        "format": "Lat: {{msg.dashboard.coordenadas.lat}} Lng: {{msg.dashboard.coordenadas.lng}}",
        "layout": "row-spread",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_text_timestamp",
        "type": "ui_text",
        "z": "1",
        "group": "ui_group_sensores_89344",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Timestamp",
        "label": "Timestamp:",
        "format": "{{msg.dashboard.timestamp_formatado}}",
        "layout": "row-spread",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_gauge_inclinometro",
        "type": "ui_gauge",
        "z": "1",
        "name": "Inclinômetro",
        "group": "ui_group_sensores_89344",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Inclinômetro (°)",
        "label": "°",
        "format": "{{msg.dashboard.sensores.inclinometro}}",
        "min": 0,
        "max": 20,
        "colors": [
            "#5CFF5C",
            "#FFEB3B",
            "#FF9800",
            "#F44336"
        ],
        "seg1": 2,
        "seg2": 10,
        "seg3": 15,
        "x": 1060,
        "y": 80,
        "wires": []
    },
    {
        "id": "ui_gauge_sismografo",
        "type": "ui_gauge",
        "z": "1",
        "name": "Sismógrafo",
        "group": "ui_group_sensores_89344",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Sismógrafo (mag)",
        "label": "mag",
        "format": "{{msg.dashboard.sensores.sismografo}}",
        "min": 0,
        "max": 8,
        "colors": [
            "#5CFF5C",
            "#FFEB3B",
            "#FF9800",
            "#F44336"
        ],
        "seg1": 2,
        "seg2": 4,
        "seg3": 6,
        "x": 1060,
        "y": 120,
        "wires": []
    },
    {
        "id": "ui_gauge_nivelrio",
        "type": "ui_gauge",
        "z": "1",
        "name": "Nível do Rio",
        "group": "ui_group_sensores_89344",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Nível do Rio (cm)",
        "label": "cm",
        "format": "{{msg.dashboard.sensores.nivel_rio}}",
        "min": 0,
        "max": 120,
        "colors": [
            "#5CFF5C",
            "#FFEB3B",
            "#FF9800",
            "#F44336"
        ],
        "seg1": 40,
        "seg2": 60,
        "seg3": 80,
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "ui_gauge_pluviometro",
        "type": "ui_gauge",
        "z": "1",
        "name": "Pluviômetro",
        "group": "ui_group_sensores_89344",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Pluviômetro (mm/h)",
        "label": "mm/h",
        "format": "{{msg.dashboard.sensores.pluviometro}}",
        "min": 0,
        "max": 60,
        "colors": [
            "#5CFF5C",
            "#FFEB3B",
            "#FF9800",
            "#F44336"
        ],
        "seg1": 10,
        "seg2": 30,
        "seg3": 50,
        "x": 1100,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_gauge_acelerometro",
        "type": "ui_gauge",
        "z": "1",
        "name": "Acelerômetro",
        "group": "ui_group_sensores_89344",
        "order": 9,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Acelerômetro (g)",
        "label": "g",
        "format": "{{msg.dashboard.sensores.acelerometro}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#5CFF5C",
            "#FFEB3B",
            "#FF9800",
            "#F44336"
        ],
        "seg1": 0.2,
        "seg2": 0.5,
        "seg3": 0.8,
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_text_nivel",
        "type": "ui_text",
        "z": "1",
        "group": "ui_group_sensores_89344",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "Nível Geral de Risco",
        "label": "Nível de Alerta Geral:",
        "format": "{{msg.payload.nivel_alerta_geral}}",
        "layout": "row-spread",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "ui_group_sensores_89344",
        "type": "ui_group",
        "z": "",
        "name": "Sensores RM 89344",
        "tab": "ui_tab_defesa_89344",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "ui_tab_defesa_89344",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard Defesa Civil - 89344",
        "icon": "dashboard",
        "order": 1
    }
]
